@font-face {
    font-family: "IRANSansFaNum";
    src: url("../fonts/IRANSansFaNum-Light.eot");
    src: url("../fonts/IRANSansFaNum-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/IRANSansFaNum-Light.woff2") format("woff2"), url("../fonts/IRANSansFaNum-Light.woff") format("woff"), url("../fonts/IRANSansFaNum-Light.ttf") format("truetype"), url("../fonts/IRANSansFaNum-Light.svg#IRANSansFaNum-Light") format("svg");
    font-style: normal;
}